article{
  margin-top: 100px;
  margin-bottom: 2em;
  border: solid;
  width: 1200px;
  height: 200px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: 200px;
}

article:hover {
  box-shadow: 5px 10px;
  color: grey;
}

header{
  font-size: 20px;
  margin: 0.5em;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.username {
  margin-right: auto;
}


.tweet-content{
  margin: .5em
}

footer {
  padding: 5px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-top: solid;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}


.icons {
  color: grey;
}

#retweet:hover {
  color: #4056A1;
}

#flag:hover {
  color: #4056A1;
}

#heart:hover {
  color: red;
}
