article{
  margin-top: 65px;
  margin-bottom: 10px;
  border: solid;
  width:auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: 1em;
  height: auto;
  max-height: fit-content;
}

article:hover {
  box-shadow: 5px 10px;
  color: grey;
}

header{
  font-size: 20px;
  margin: 0.5em;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.username {
  margin-right: auto;
}


.tweet-content{
  margin: .5em;
}

footer {
  padding: 5px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-top: solid;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.icons {
  color: grey;

}
.fa-retweet:hover {
  color: #4056A1;
}
.fa-flag:hover {
  color: #4056A1;
}
.fa-flag{
  padding-left: 5px;
  padding-right: 5px;
}
.fa-heart:hover {
  color: red;
}

@media only screen and (min-width:1024px) {
  .tweet-container{
    width: 90%;
  }
}